if SHIELD_ZPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "zplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZPLIT_LEFT || SHIELD_ZPLIT_RIGHT
    
config ZMK_SPLIT
    default y

endif